<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VETCONNECT">

        <activity
            android:name=".views.Mascotas"
            android:exported="false"
            android:label="@string/title_activity_mascotas"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.AgregarCita"
            android:exported="false"
            android:label="@string/title_activity_agregar_cita"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.Citas"
            android:exported="false"
            android:label="@string/title_activity_citas"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.AgregarMascota"
            android:exported="false"
            android:label="@string/title_activity_agregar_mascota"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.PantallaGenerica"
            android:exported="false"
            android:label="@string/title_activity_pantalla_generica"
            android:theme="@style/Theme.VETCONNECT" />

        <activity
            android:name=".views.PantallaVeterinario"
            android:exported="false"
            android:label="@string/title_activity_pantalla_veterinario"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.VETCONNECT" />
        <activity
            android:name=".views.Registro"
            android:exported="true"
            android:label="VetConnect"
            android:theme="@style/Theme.VETCONNECT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>